.product {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.product:hover .product-actions {
  opacity: 1;
}
.product-img {
  height: 200px;
  width: 270px;
  margin-bottom: 30px;
}
.product-actions {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  background-color: #b2babe;
  color: aliceblue;
  font-weight: bold !important;
}
